{
  "presets": [
    "next/babel",
    "mobx",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ]
}